html {
  box-sizing: border-box;
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #F2F2F2;
  color: #323232;
}

img {
  max-width: 100%;
}

table, th, td {
  border: 1px solid black;
}
a{ 
  color: #323232;
  text-decoration: none;
}


.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
}


.hil {
  font-weight: bold;
  font-size: 25px;
  float: middle;
  padding: 10px 400px;
}


img.avatar {
  width: 130px;
}

.my-name {
  font-size: 48px;
  line-height: 1;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  color: #236FB2;
}



